pre.pygments .hll { background-color: #404040 }
pre.pygments, pre.pygments code { background: #202020; color: #d0d0d0 }
pre.pygments .tok-c { color: #ababab; font-style: italic } /* Comment */
pre.pygments .tok-err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre.pygments .tok-esc { color: #d0d0d0 } /* Escape */
pre.pygments .tok-g { color: #d0d0d0 } /* Generic */
pre.pygments .tok-k { color: #6ebf26; font-weight: bold } /* Keyword */
pre.pygments .tok-l { color: #d0d0d0 } /* Literal */
pre.pygments .tok-n { color: #d0d0d0 } /* Name */
pre.pygments .tok-o { color: #d0d0d0 } /* Operator */
pre.pygments .tok-x { color: #d0d0d0 } /* Other */
pre.pygments .tok-p { color: #d0d0d0 } /* Punctuation */
pre.pygments .tok-ch { color: #ababab; font-style: italic } /* Comment.Hashbang */
pre.pygments .tok-cm { color: #ababab; font-style: italic } /* Comment.Multiline */
pre.pygments .tok-cp { color: #ff3a3a; font-weight: bold } /* Comment.Preproc */
pre.pygments .tok-cpf { color: #ababab; font-style: italic } /* Comment.PreprocFile */
pre.pygments .tok-c1 { color: #ababab; font-style: italic } /* Comment.Single */
pre.pygments .tok-cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
pre.pygments .tok-gd { color: #d22323 } /* Generic.Deleted */
pre.pygments .tok-ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
pre.pygments .tok-gr { color: #d22323 } /* Generic.Error */
pre.pygments .tok-gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
pre.pygments .tok-gi { color: #589819 } /* Generic.Inserted */
pre.pygments .tok-go { color: #cccccc } /* Generic.Output */
pre.pygments .tok-gp { color: #aaaaaa } /* Generic.Prompt */
pre.pygments .tok-gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
pre.pygments .tok-gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
pre.pygments .tok-gt { color: #d22323 } /* Generic.Traceback */
pre.pygments .tok-kc { color: #6ebf26; font-weight: bold } /* Keyword.Constant */
pre.pygments .tok-kd { color: #6ebf26; font-weight: bold } /* Keyword.Declaration */
pre.pygments .tok-kn { color: #6ebf26; font-weight: bold } /* Keyword.Namespace */
pre.pygments .tok-kp { color: #6ebf26 } /* Keyword.Pseudo */
pre.pygments .tok-kr { color: #6ebf26; font-weight: bold } /* Keyword.Reserved */
pre.pygments .tok-kt { color: #6ebf26; font-weight: bold } /* Keyword.Type */
pre.pygments .tok-ld { color: #d0d0d0 } /* Literal.Date */
pre.pygments .tok-m { color: #51b2fd } /* Literal.Number */
pre.pygments .tok-s { color: #ed9d13 } /* Literal.String */
pre.pygments .tok-na { color: #bbbbbb } /* Name.Attribute */
pre.pygments .tok-nb { color: #2fbccd } /* Name.Builtin */
pre.pygments .tok-nc { color: #71adff; text-decoration: underline } /* Name.Class */
pre.pygments .tok-no { color: #40ffff } /* Name.Constant */
pre.pygments .tok-nd { color: #ffa500 } /* Name.Decorator */
pre.pygments .tok-ni { color: #d0d0d0 } /* Name.Entity */
pre.pygments .tok-ne { color: #bbbbbb } /* Name.Exception */
pre.pygments .tok-nf { color: #71adff } /* Name.Function */
pre.pygments .tok-nl { color: #d0d0d0 } /* Name.Label */
pre.pygments .tok-nn { color: #71adff; text-decoration: underline } /* Name.Namespace */
pre.pygments .tok-nx { color: #d0d0d0 } /* Name.Other */
pre.pygments .tok-py { color: #d0d0d0 } /* Name.Property */
pre.pygments .tok-nt { color: #6ebf26; font-weight: bold } /* Name.Tag */
pre.pygments .tok-nv { color: #40ffff } /* Name.Variable */
pre.pygments .tok-ow { color: #6ebf26; font-weight: bold } /* Operator.Word */
pre.pygments .tok-pm { color: #d0d0d0 } /* Punctuation.Marker */
pre.pygments .tok-w { color: #666666 } /* Text.Whitespace */
pre.pygments .tok-mb { color: #51b2fd } /* Literal.Number.Bin */
pre.pygments .tok-mf { color: #51b2fd } /* Literal.Number.Float */
pre.pygments .tok-mh { color: #51b2fd } /* Literal.Number.Hex */
pre.pygments .tok-mi { color: #51b2fd } /* Literal.Number.Integer */
pre.pygments .tok-mo { color: #51b2fd } /* Literal.Number.Oct */
pre.pygments .tok-sa { color: #ed9d13 } /* Literal.String.Affix */
pre.pygments .tok-sb { color: #ed9d13 } /* Literal.String.Backtick */
pre.pygments .tok-sc { color: #ed9d13 } /* Literal.String.Char */
pre.pygments .tok-dl { color: #ed9d13 } /* Literal.String.Delimiter */
pre.pygments .tok-sd { color: #ed9d13 } /* Literal.String.Doc */
pre.pygments .tok-s2 { color: #ed9d13 } /* Literal.String.Double */
pre.pygments .tok-se { color: #ed9d13 } /* Literal.String.Escape */
pre.pygments .tok-sh { color: #ed9d13 } /* Literal.String.Heredoc */
pre.pygments .tok-si { color: #ed9d13 } /* Literal.String.Interpol */
pre.pygments .tok-sx { color: #ffa500 } /* Literal.String.Other */
pre.pygments .tok-sr { color: #ed9d13 } /* Literal.String.Regex */
pre.pygments .tok-s1 { color: #ed9d13 } /* Literal.String.Single */
pre.pygments .tok-ss { color: #ed9d13 } /* Literal.String.Symbol */
pre.pygments .tok-bp { color: #2fbccd } /* Name.Builtin.Pseudo */
pre.pygments .tok-fm { color: #71adff } /* Name.Function.Magic */
pre.pygments .tok-vc { color: #40ffff } /* Name.Variable.Class */
pre.pygments .tok-vg { color: #40ffff } /* Name.Variable.Global */
pre.pygments .tok-vi { color: #40ffff } /* Name.Variable.Instance */
pre.pygments .tok-vm { color: #40ffff } /* Name.Variable.Magic */
pre.pygments .tok-il { color: #51b2fd } /* Literal.Number.Integer.Long */